<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广告十年 - AD-10 Years</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">
</head>
<!--script type="text/javascript" src="/lite/youziku.api.min.js"></script-->
<body>
<main>

    <div class="popMenu">
        <div class="content">
            <div class="page is-active" data-page-target="chapter-content">
                <div class="row content">
                    <div>
                        <div class="col s12 subText">
                            <span class="flow-text" id="chapter-title">十年一刻</span>
                        </div>
                        <div class="col s12 mainText">
                            <h1 id="chapter-child-title">广告学十周年纪念</h1>
                        </div>
                        <div class="col s12 subText">
                            <span class="chapterTitle"></span>
                        </div>
                        <div class="col s12 tips">
                            <span>提示:点击跳转到标题位置</span>
                        </div>
                        <div class="col s12 links">
                            <ul id="chapter-insert" class="section links-inner ">
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="page" data-page-target="chapter-list">
                <div class="col s12 content" data-append="all-chapter"></div>
                <div class="my-name"><a>BY DOGFISH</a></div>
            </div>

            <div class="row title">
                <div class="col s12">
                    <a href="#" class="is-active title-selector" data-page="chapter-content"><span
                            class="flow-text">文章分节</span></a>
                    <span class="flow-text">|</span>
                    <a href="#" class="title-selector" data-page="chapter-list"><span class="flow-text">完整目录</span></a>
                </div>
            </div>
        </div>
        <div class="mask">
        </div>
    </div>

    <div id="view-outer">
        <iframe id="view" src="./contents/起/封面.html"></iframe>
    </div>
    <div class="control-bar">
        <a id="#menu" class="btn waves-effect waves-light">
            <div class="hamburger hamburger--collapse">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </a>
    </div>
</main>
</body>
<!--script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script-->
<!--script src="https://cdn.bootcss.com/materialize/0.98.2/js/materialize.min.js"></script-->
<link href="https://cdn.bootcss.com/hamburgers/0.8.1/hamburgers.min.css" rel="stylesheet">
</html>