<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
</head>

<body>

<style>
    main {
        background-color: white;

    }
</style>
<header class="article">
    <div class="parallax-scroll head-img" parallax-speed="0.5">
        <div class="mask"></div>
        <img src="../../assets/image/人物/陈国濠/3.jpg">
    </div>
    <div class="title">
        <h1>以梦为马<br>河溪记年华</h1>
    </div>
    <div class="sub-title">
        <span>——陈国濠学长专访</span>
    </div>

</header>

<main>

    <article>
        <section id="first" data-anchor-trigger="first" data-goto-title="前言">
            <p class="title" >前言</p>
            <p class="em">从开始的懵懂青涩，到现在站稳了脚跟。陈国濠学长创办河溪传媒至今已经是第四个年头。
                以梦为马，他将喜好付诸于事业。这是一个年轻、充满活力与创意的团队。
                以敏锐的时尚触觉和高超的制作技术，致力于为客户量身打造专属的摄影摄像服务。
                致力于用态度记录时光。</p>
        </section>

        <section id="one" data-anchor-trigger="one" data-goto-title="为何选择广告">
            <img src="../../assets/image/人物/陈国濠/1.jpg">
            <div class="question">
                <p>当初为什么会选择广告专业？</p>
            </div>
            <div class="answer">
                <p>觉得广告比较艺术，个人性格比较“艺术”，所以就“糊里糊涂”选了。</p>
            </div>
        </section>

        <section id="two" data-anchor-trigger="two" data-goto-title="最难忘的事情">
            <div class="question">
                <p>在广告专业这四年中，能不能给我们分享一件令你难忘的事情？</p>
            </div>
            <div class="answer">
                <p>就是做班长的各种累。这种东西只可意会，不可言传。其实就是“自己体会”。</p>
            </div>
        </section>

        <section id="three" data-anchor-trigger="three" data-goto-title="校园与社会有何不同">
            <div class="question">
                <p>有没有很怀念校园生活，你认为校园生活与社会生活最大的差异是什么？</p>
            </div>
            <div class="answer">
                <p>有很怀念。校园是一个相对自由和没有太大压力的锻炼平台；而社会就是一个真枪实弹的战场。</p>
            </div>
        </section>

        <section id="four" data-anchor-trigger="four" data-goto-title="对于学而无用怎么看">
            <div class="question">
                <p>很多人说在课堂上学到的在工作上完全用不上，你是怎么看的？</p>
            </div>
            <div class="answer">
                <p>这个是极度错误的想法。学校里学的东西都很可能是你以后工作上解决问题的方法。或许短期内觉得用不上，但总会有它的用武之地吧。学得多，职业得选择性也比较大。反正，广告学，万金油。</p>
            </div>
        </section>
        <section id="five" data-anchor-trigger="five" data-goto-title="就职经历创业理由">
            <div class="question">
                <p>毕业之后有没有去其他公司就职的经历？最终选择创业的原因是什么？</p>
            </div>
            <div class="answer">
                <p>只有过实习，没有做过正式员工。原因是，想尝试，结果就喜欢上了。</p>
            </div>
        </section>

        <section id="six" data-anchor-trigger="six" data-goto-title="沟通技巧">
            <div class="question">
                <p>河溪传媒一路走来，和许多新人成为了朋友，获得许多好评。能不能给我们分享一些和客户沟通的技巧？</p>
            </div>
            <div class="answer">
                <p>其实我们更多还是用作品沟通。好的作品已经给沟通做了铺垫，再跟着就是引导客户做一些选择。</p>
            </div>
        </section>

        <section id="seven" data-anchor-trigger="seven" data-goto-title="招聘时看重什么">
            <div class="question">
                <p>河溪传媒在招聘过程中，比较看重的是什么？</p>
            </div>
            <div class="answer">
                <p>看重外貌，技术，性格……这是多项选择题。</p>
            </div>
        </section>

        <section id="eight" data-anchor-trigger="eight" data-goto-title="释放自己的压力">
            <div class="question">
                <p>传媒行业压力非常大，常常加班熬夜，平时是如何释放自己的压力？</p>
            </div>
            <div class="answer">
                <p>问我爱好吗？踩单车，看美剧。</p>
                <img src="../../assets/image/人物/陈国濠/2.jpg">
            </div>
        </section>

        <section id="nine" data-anchor-trigger="nine" data-goto-title="创业的建议">
            <div class="question">
                <p>能不能给学弟学妹一些关于创业的建议</p>
            </div>
            <div class="answer">
                <p>要创业，要先问自己为什么创业。其实我也有一些朋友一开始创业，最后还是回到一些公司上班。意味着创业不容易，守业更艰辛。当然，找到好的合作伙伴或者同事也比较关键。</p>

            </div>

        </section>
    </article>


    <footer>
        <button class="big hidden" article-nav="next"></button>
        <button class="big" data-page="chapter-list">查看目录</button>
        <button class="big hidden" article-nav="prev"></button>
    </footer>
</main>
<script type="text/javascript">

</script>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</html>