article {
  padding-left: 30px;
  padding-right: 30px;
}
article p {
  text-indent: 2rem;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}
article p.title {
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  text-indent: 0;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}
article p.em {
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1rem;
  text-indent: 0;
  letter-spacing: .05rem;
}
article p.sub-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-indent: .5rem;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}
article pre {
  padding: 1rem;
  background-color: whitesmoke;
  border: 1px lightgrey solid ;
}
article blockquote {
  margin: 0;
  padding: 10px 20px;
  color: grey;
  border-left: 5px grey solid;
  line-height: 1.5rem;
}
article img {
  width: 100%;
  transition: .3s;
}
article section {
  padding-bottom: 2rem;
}
article .download {
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
  border: solid 1px lightgray;
  padding: 1rem;
  width: 60%;
  margin: 1rem auto;
}
article .question p {
  text-indent: 0;
  font-weight: bold;
  border-left: 6px grey solid;
  padding-left: 1rem;
  padding-top: .5rem;
  color: grey;
}
article .answer {
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;
}
article .answer p {
  text-indent: 0;
}
article .answer:before {
  content: "\56DE\7B54\FF1A";
  color: grey;
  text-align: center;
}
header.article {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  background-size: contain;
}
header.article .title {
  color: white;
}
header.article .sub-title {
  color: white;
}
button.big {
  background-color: transparent;
  color: black;
  margin: 1rem auto;
  height: 3rem;
  transition: .5s;
  cursor: pointer ;
}
button.big:hover {
  color: white;
  border: 2px transparent solid;
  background-color: black;
}
@media only screen and (max-device-width: 768px) {
  button.big {
    width: 100%;
    display: block;
    border: 1px lightgrey solid;
    border-left: 2px transparent solid;
    border-right: 2px transparent solid;
  }
}
@media only screen and (min-device-width: 768px) {
  button.big {
    width: 350px;
    border: 2px black solid;
  }
}
@media only screen and (max-device-width: 768px) {
  footer {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer button {
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  footer {
    padding-top: 2rem;
    width: 100%;
    display: flex;
  }
  footer button.big {
    width: 40%;
  }
}
.card {
  height: 250px;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}
.card img {
  height: 10rem;
}
.card .intro {
  color: grey;
  height: 8rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  opacity: .99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .intro .title {
  color: grey;
  text-align: center;
  margin: 0;
  font-size: 1rem;
  border-bottom: thin lightgray solid;
}
.card .intro button.link {
  background-color: whitesmoke;
  color: grey;
  border: none;
  width: 100%;
  height: 3rem;
  transition: .5s;
  cursor: pointer;
}
.card .intro button.link:hover {
  background-color: black;
  color: white;
}
.card .intro p.text {
  color: grey;
  margin: 0;
  padding: 1rem;
}
@media only screen and (max-device-width: 768px) {
  .card .intro {
    width: 100%;
    background-color: white;
  }
}
@media only screen and (min-device-width: 768px) {
  .card .intro {
    width: 100%;
    background-color: white;
  }
}
.contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  max-width: 50rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.contents section.side {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-right: transparent;
}
.contents section.side ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contents section.side ul li {
  padding: 0;
  width: 100%;
  height: 4.5rem;
  border-bottom: lightgray thin solid;
}
.contents section.side ul li button {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
  border: transparent;
  outline: none;
  transition: .5s;
}
.contents section.side ul li button.is-active {
  border: transparent;
  background-color: black;
  color: white;
}
.contents section.content {
  width: 100%;
  height: 70%;
  flex-grow: 70;
  box-sizing: border-box;
}
.contents section.content section.contents-page {
  flex-direction: column;
  align-items: center;
  padding: 0 .5rem;
  display: none;
}
.contents section.content section.contents-page.is-active {
  display: flex;
}
.contents section.content section.contents-page h1 {
  margin: 0;
  color: white;
}
.contents section.content section.contents-page p.intro {
  font-size: .9rem;
  color: white;
}
.contents section.content section.contents-page ul.child-chapter {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.contents section.content section.contents-page ul.child-chapter li {
  margin: .3rem 0;
}
.contents section.content section.contents-page ul.child-chapter li button {
  background-color: transparent;
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  border: white solid 1px;
  outline: none;
}
.contents section.background {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contents section.background img {
  width: 100%;
}
.contents .mask {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  top: 0;
  left: 0;
}
.collapse .collapse-btn {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  border: 1px lightgrey solid;
  outline: none;
  margin: .5rem  0 ;
}
.collapse .collapse-btn.is-collapse {
  border: 1px transparent solid;
  border-bottom: 1px lightgrey solid;
  margin: 0;
}
.collapse .content {
  display: none;
  width: 100%;
  transition: .5s;
}
.collapse .content.is-collapse {
  display: block;
}
main {
  padding: 30px 0;
}
main .author {
  color: silver;
  text-align: right;
}
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none ;
}
*::-webkit-scrollbar {
  display: none!important;
}
.parallax-scroll {
  position: absolute;
}
.parallax-scroll .mask {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.75) 100%);
  background-size: cover;
  height: 200px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}
.parallax-scroll.head-img {
  height: 200px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.parallax-scroll img {
  width: 100%;
}
span,
p,
h1,
button {
  font-family: 'PingFang SC', 'Myriad Pro', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
