html,
body {
  overflow: hidden;
}
header.article {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  background-size: cover;
}
header.article .title {
  color: white;
}
header.article .sub-title {
  color: white;
}
body.parallax {
  margin: 0;
  padding: 0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}
.parallax-wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
 * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  -webkit-perspective: 2px;
  perspective: 2px;
}
.parallax-wrapper .parallax {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 50vh;
  /* For text formatting. */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
.parallax-wrapper .parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  -webkit-transform: translateZ(-1px) scale(1.5);
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: cover;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}
.parallax-wrapper article {
  padding: 1rem;
  background-color: white;
}
header.parallax {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 2rem;
  box-sizing: border-box;
  background: 50% 50% / cover;
}
header.parallax:before {
  background: 50% 50% / cover;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
header.parallax .title {
  color: white;
}
main {
  padding: 30px 0;
}
main .author {
  color: silver;
  text-align: right;
}
main article {
  padding-left: 30px;
  padding-right: 30px;
}
main article p {
  text-indent: 2rem;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}
main article p.title {
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  text-indent: 0;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}
main article p.em {
  font-weight: bolder;
  text-align: center;
  padding-bottom: 1rem;
  text-indent: 0;
  letter-spacing: .05rem;
}
main article p.sub-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-indent: .5rem;
  line-height: 1.5rem;
  letter-spacing: .05rem;
}
main article pre {
  padding: 1rem;
  background-color: whitesmoke;
  border: 1px lightgrey solid ;
}
main article blockquote {
  margin: 0;
  padding: 10px 20px;
  color: grey;
  border-left: 5px grey solid;
  line-height: 1.5rem;
}
main article img {
  width: 100%;
  transition: .3s;
}
main article section {
  padding-bottom: 2rem;
}
button.big {
  background-color: transparent;
  color: black;
  margin: 1rem auto;
  height: 3rem;
  transition: .5s;
  cursor: pointer ;
}
button.big:hover {
  color: white;
  border: 2px transparent solid;
  background-color: black;
}
.card {
  height: 250px;
}
.card img {
  width: 100%;
}
.card .intro {
  color: white;
  height: 8rem;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  opacity: .99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card .intro .title {
  color: black;
  text-align: center;
  margin: 0;
  font-size: 1rem;
  border-bottom: thin lightgray solid;
}
.card .intro button.link {
  background-color: whitesmoke;
  color: grey;
  border: none;
  width: 100%;
  height: 3rem;
  transition: .5s;
  cursor: pointer;
}
.card .intro button.link:hover {
  background-color: grey;
  color: white;
}
.card .intro p.text {
  color: grey;
  margin: 0;
  padding: 1rem;
}
.hidden {
  display: none ;
}
@media only screen and (max-device-width: 768px) {
  button.big {
    width: 100%;
    display: block;
    border: 1px lightgrey solid;
    border-left: 2px transparent solid;
    border-right: 2px transparent solid;
  }
  footer {
    padding-top: 2rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer button {
    width: 100%;
  }
  .card .intro {
    min-width: 100%;
    margin: 0;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) {
  button.big {
    width: 350px;
    border: 2px black solid;
  }
  footer {
    padding-top: 2rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer button.big {
    width: 40%;
  }
  .card .intro {
    width: 60%;
    min-width: 20rem;
    margin: -6.25% auto 0;
  }
}
*::-webkit-scrollbar {
  display: none!important;
}
span,
p,
h1 {
  font-family: 'PingFang SC', 'Myriad Pro', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.parallax-scroll {
  position: absolute;
}
